<p id="notice"><%= notice %></p>

<p>
  <strong>Custom01:</strong>
  <%= @osm.custom01 %>
</p>

<p>
  <strong>Custom02:</strong>
  <%= @osm.custom02 %>
</p>

<p>
  <strong>Custom03:</strong>
  <%= @osm.custom03 %>
</p>

<p>
  <strong>Custom04:</strong>
  <%= @osm.custom04 %>
</p>

<p>
  <strong>Custom05:</strong>
  <%= @osm.custom05 %>
</p>

<p>
  <strong>Custom06:</strong>
  <%= @osm.custom06 %>
</p>

<%= link_to 'Edit', edit_osm_path(@osm) %> |
<%= link_to 'Back', osms_path %>
